
$base-font-size: 23px;
$base-spacing: 24px;
$base-line-height: $base-font-size * 1.3;

$color-dark: #333;
$color-primary: #06c;
$color-secondary: #695171;


$fontSizes: (
  0 0,
  '' $base-font-size,
  \-   ($base-font-size * 0.8),
  \-\-  ($base-font-size * 0.7),
  \+   ($base-font-size * 1.5),
  \+\+  ($base-font-size * 3),
  \+\+\+  ($base-font-size * 6),
) !default;

$lineHeights: (
  '' $base-line-height,
  \-   ($base-line-height * 0.8),
  \-\-  ($base-line-height * 0.7),
  \+   ($base-line-height * 1.5),
  \+\+  ($base-line-height * 3),
  \+\+\+  ($base-line-height * 6),
) !default;


$fontFamilies: (
  '' '"Abel", sans-serif',
  '-fancy' '"Satisfy", cursive',
) !default;


$spacings: (
  0 0,
  '' $base-spacing,
  \-   ($base-spacing * .5),
  \-\-  ($base-spacing * .25),
  \+   ($base-spacing * 2),
  \+\+  ($base-spacing * 4),
) !default;

$dimensions: (
  1 100%,
  1\/2 50%,
  1\/3 33.333333333%,
  1\/4 25%,
  2\/3 66.666666667%,
  3\/4 75%,
  '-xs' 50px,
  '-s' 100px,
  '-m' 200px,
  '-l' 400px,
  '-xl' 600px,
  '-xxl' 900px,
) !default;

$colors: (
  '' $color-dark,
  '-night' #000,
  '-dark' $color-dark,
  \-dark\+ lighten($color-dark, 15%),
  \-dark\+\+ lighten($color-dark, 30%),
  '-light' #f4f5f6,
  \-light\- darken(#f4f5f6, 20%),
  \-light\-\- darken(#f4f5f6, 40%),
  '-blank' #fff,
  '-primary' $color-primary,
  \-primary\- darken($color-primary, 10%),
  '-secondary' $color-secondary,
  \-secondary\- darken($color-secondary, 10%),
  \-secondary\-\- darken($color-secondary, 20%),
  \-secondary\+ lighten($color-secondary, 10%),
  \-secondary\+\+ lighten($color-secondary, 20%),
) !default;


$offsets: (
  0 0,
  '' $base-spacing,
  \-   ($base-spacing * -1),
  \-\-  ($base-spacing * -2),
  \-\-\- ($base-spacing * -4),
  \+   ($base-spacing * 1),
  \+\+  ($base-spacing * 2),
  \+\+\+  ($base-spacing * 4),
) !default;


$properties: (

  // Margin
  '.m' ('margin') $spacings,
  '.mt' ('margin-top') $spacings,
  '.mb' ('margin-bottom') $spacings,
  '.ml' ('margin-left') $spacings,
  '.mr' ('margin-right') $spacings,
  '.mv' ('margin-top' 'margin-bottom') $spacings,
  '.mh' ('margin-left', 'margin-right') $spacings,

  // Padding
  '.p' ('padding') $spacings,
  '.pt' ('padding-top') $spacings,
  '.pb' ('padding-bottom') $spacings,
  '.pl' ('padding-left') $spacings,
  '.pr' ('padding-right') $spacings,
  '.pv' ('padding-top' 'padding-bottom') $spacings,
  '.ph' ('padding-left', 'padding-right') $spacings,

  // Border
  '.b' ('border') $spacings,
  '.bt' ('border-top') $spacings,
  '.bb' ('border-bottom') $spacings,
  '.bl' ('border-left') $spacings,
  '.br' ('border-right') $spacings,
  '.bv' ('border-top' 'border-bottom') $spacings,
  '.bh' ('border-left', 'border-right') $spacings,

  // Dimensions
  '.square' ('width', 'height') $dimensions,
  '.w' ('width') $dimensions,
  '.h' ('height') $dimensions,

  // Fonts
  '.ff' ('font-family') $fontFamilies,
  '.fs' ('font-size') $fontSizes,
  '.fw' ('font-weight') ('' normal, '-bold' bold),
  '.lh' ('line-height') $lineHeights,

  // Colors
  '.c' ('color') $colors,
  '.bc' ('border-color') $colors,
  '.bgc' ('background-color') $colors,

  // Misc
  '.bw' ('border-width') ('' 20px, \- 10px, \-\- 5px),
  '.va' ('vertical-align') ('-top' top, '-bottom' bottom, '-middle' middle, '-baseline' baseline),
  '.border' ('border-style') ('' solid, '-dashed' dashed),
  '.rounded' ('border-radius') ('' 50%, \- 5px, \-\- 15px),
  '.position' ('position') ('-absolute' absolute, '-relative' relative),
  '.top' ('top') $offsets,
  '.bottom' ('bottom') $offsets,
  '.right' ('right') $offsets,
  '.left' ('left') $offsets,

  // Visibility
  '.v' ('visibility') (
    '-visible' visible,
    '-hidden' hidden
  ),

  // Text
  '.tt' ('text-transform') ('-uc' uppercase, '-lc' lowercase),
  '.ta' ('text-align') ('-center' center, '-left' left, '-right' right),
  '.td' ('text-decoration') ('-none' none, '-ul' underline),
  '.t-shadow' ('text-shadow') (
    '' "0 0 10px rgba(0,0,0,1)",
    \+ "0 0 40px rgba(0,0,0,1)"
  ),

  // Images
  '.header-image' ('background-image') (
    // '-large'  url('http://lorempixel.com/1600/500/food'),
    '-large' url('../images/tapas_plank.jpg'),
    // '-medium' url('http://lorempixel.com/1024/500/food'),
    '-medium' url('../images/tapas_plank.jpg'),
    // '-small'  url('http://lorempixel.com/500/500/food')
    '-small' url('../images/tapas_plank.jpg')
  )

) !default;

$breakpoints: (
    mobile              'screen and(max-width: 499px)',
    tablet              'screen and(min-width: 500px) and(max-width: 1023px)',
    tablet\-and-\up     'screen and(min-width: 500px)',
    desk                'screen and(min-width: 1024px)',
) !default;



@mixin mediaquery($selector) {

  @include create($selector) {
    @content;
  }

  @each $breakpoint in $breakpoints {

    $alias: nth($breakpoint, 1);
    $query: nth($breakpoint, 2);

    @include create($selector + \@ + $alias) {
        @media #{$query} {
            @content;
        }
    }

  }

}

@mixin create($selector) {

    #{$selector} {
      @content;
    }

    #{$selector}\:hover:hover {
      @content;
    }
}

@mixin values($selector, $properties, $values) {

    @each $value in $values {

        $alias: nth($value, 1);
        $actual: nth($value, 2);

        @include value($selector + $alias, $properties, $actual);
        @include value($selector + $alias + \!, $properties, $actual + '!important');
    }
}

@mixin value($selector, $properties, $value) {

    @include mediaquery($selector) {

      @each $property in $properties {
        #{$property}: #{$value};
      }
    };
}

@mixin properties($items) {

    @each $item in $items {

        $selector: nth($item, 1);
        $properties: nth($item, 2);
        $values: nth($item, 3);

        @include values($selector, $properties, $values);
    }
}


@include properties($properties);


.centered {
  margin: 0 auto;
}
.container {
  max-width: 1200px;
}
.box {
  display: inline-block;
  box-sizing: border-box;
}


.bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.profile-image {
  @extend .bg-image;
  background-image: url('../images/tante_tien.jpg');
}








@font-face {
  font-family: 'icomoon-tantetien';
  src:  url('../fonts/icomoon-tantetien.eot?wzta40');
  src:  url('../fonts/icomoon-tantetien.eot?wzta40#iefix') format('embedded-opentype'),
    url('../fonts/icomoon-tantetien.ttf?wzta40') format('truetype'),
    url('../fonts/icomoon-tantetien.woff?wzta40') format('woff'),
    url('../fonts/icomoon-tantetien.svg?wzta40#icomoon-tantetien') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon-tantetien' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e904";
}
.icon-envelope:before {
  content: "\e900";
}
.icon-phone:before {
  content: "\e901";
}
.icon-thumbsup:before {
  content: "\e902";
}
.icon-ampersand:before {
  content: "\e903";
}
